* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 100vh;
    background-size: cover;
    color: #fff;
    font-size: 1rem;
}

.header {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 120px;
}

.footer {
    padding: 15px;
}

.time {
    font-size: 8rem;
}

h1 {
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

h2 {
    margin-bottom: 0.5rem;
    opacity: 0.8;
    font-size: 1.5rem;
}

.name {
    min-width: 15px;
    transition: all 0.5s ease-out;
}

.greeting {
    margin-right: 15px;
}


button {
    background-color: #e7e7e7;
    color: black;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    opacity: 0.5;
}

.quote {
    max-width: 600px;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

@media (max-width: 700px) {
    .time {
        font-size: 6rem;
    }

    h1 {
        flex-direction: column;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    .quote {
        font-size: 0.9rem;
    }

    .weather {
        font-size: 0.9rem;
    }
}

@media (max-width: 400px) {
    .time {
        font-size: 4rem;
    }
}