.button {
    width: 188px;
    height: 50px;
    background: #00AFDB;
    float: left;
}
.button:hover {
    background: #009CC2;
    color: #ffffff;
}
.button:after{
    content:  "\0000a0";
    height: 50px;
    width: 60px;
    background: url("assets/apple-icon.png");
    float: left;
}
.button-text{
    height: 50px;
    width: 128px;
    float: left;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    align-items: flex-end;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    padding: 18px 18px 16px 19px;
}
.button-wrapper{
    width: 188px;
    height: 50px;
    float: left;
}
.right{
    margin-left: 30px;
}
.button.market-icon:after{
    background: url("assets/icon-googleMarket.svg");
}
.greeting-block{
    width: 730px;
    height: 674px;
    margin-left: 435px;
}
.title{
    height: 220px;
    width: 730px;
}
.title-info{
    height: 116px;
    width: 730px;
}
.title-button{
    height: 229px;
    width: 730px;
}
.title-socials{
    height: 110px;
    width: 730px;
}
.rect-h1{
    height: 75px;
    width: 730px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 0px;
    letter-spacing: 4.3px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 199px;
}