body {
    margin: 0 auto;
    max-width: 1600px;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
}

main {
    width: 1280px;
    min-height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
}

input {
    border: none;
}

button {
    border: none;
}

.yourLife-block-1 {
    width: 1600px;
    margin-left: -160px;
    height: 744px;
    background: url("assets/bg-image.png");
}

.represent-block-2 {
    height: 842px;
}

.our-community-block3 {
    height: 504px;
}

.implement-block-4 {
    height: 842px;
}

.subscribe-block-5 {
    height: 598px;
    width: 1600px;
    margin-left: -160px;
    background: url("assets/image-bg.png");
}

.download-block-6 {
    height: 468px;
}

footer {
    height: 184px;
    width: 1600px;
    background: #000000;
    margin-left: -160px;
}

header {
    height: 69px;
}

h1 {
    font-weight: bold;
    font-size: 46px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

h2 {
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}

.content-block {
    width: 407px;
    height: 233px;
    margin-top: 295px;
    margin-left: 109px;
    margin-right: 248px;
    float: left;
}

.content-image {
    width: 407px;
    height: 582px;
    margin-top: 120px;
    background: url("assets/content-image-1.png");
    float: left;
}

.link-button {
    height: 76px;
}

.text {
    height: 80px;
}

.logo-text {
    height: 77px;
}

.h2-24-bold {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    color: #373737;
}

.body-14-reg {
    font-size: 14px;
    color: #4E4E4E;
    line-height: 20.1px;
}

.btn-main {
    outline: none;
    width: 184px;
    height: 46px;
    margin-top: 30px;
    background: #00AFDB;
}

.btn {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.frame-5 {
    width: 546px;
    float: left;
    height: 504px;
    padding: 155px 139px 174px 109px;
}

.slider {
    width: 734px;
    height: 504px;
    float: left;
}

.h3-16-upper-bold {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #373737;
}

.fr5 {
    height: 50px;
}

.logo-icon {
    height: 45px;
    width: 45px;
    margin-left: 127px;
    margin-right: 126px;
    background: url(assets/icon.svg), no-repeat;
}

.nav-items {
    height: 120px;
    width: 737px;
    float: left;
    padding: 80px 109px 17px 546px;
}

.left-arrow {
    width: 23px;
    height: 20px;
    float: left;
}

i {
    border: solid #373737;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.right-button {
    transform: rotate(-45deg);
}

.left-button {
    transform: rotate(135deg);
}

.center-arrow-text {
    width: 37px;
    height: 20px;
    float: left;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #373737;
}

.right-arrow {
    width: 22px;
    height: 20px;
    float: left;
    padding-left: 10px;
}

.arrow-right-button {
    width: 8px;
    height: 8px;

    border: 2px solid #373737;
    box-sizing: border-box;
    transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
}

.slider-items {
    height: 384px;
    width: 894px;
    float: left;

}

.slider-item {
    width: 407px;
    height: 244px;
    float: left;
    margin-bottom: 140px;
}

.rect-1 {
    background: url("assets/Rectangle 2.png"), no-repeat;
}

.rect-2 {
    margin-left: 30px;
    background: url("assets/Rectangle 3.png"), no-repeat;
}

.rect-3 {
    width: 20px;
    margin-left: 30px;
    background: url("assets/Rectangle 4.png"), no-repeat;
}

.content-image-2 {
    width: 640px;
    height: 842px;
    float: left;
}

.img {
    width: 407px;
    height: 582px;
    margin: 119px 124px 140px 109px;
}

.content-block-2 {
    width: 640px;
    height: 842px;
    float: left;
    padding: 319px 218px 339px 15px;

}

.logo-text.bl2 {
    height: 48px;
}

.text.bl2 {
    height: 60px;
}

.link-button.bl2 {
    height: 76px;
}

.subscribe-form {
    height: 104px;
    width: 406px;
    margin-left: 597px;
    margin-top: 217px;
    float: left;
}

.form {
    width: 406px;
    height: 46px;
}

.logo-text.sub-form {
    height: 58px;
}

.form-field {
    width: 340px;
    height: 46px;
    float: left;
    padding-left: 24px;
    margin: 0;
    padding-top: 5px;
}

.btn-submit {
    width: 66px;
    height: 46px;
    padding: 0;
    margin: 0;
    float: left;
    background: url("assets/btn-submit.svg") no-repeat;
}

.btn-submit:hover {
    width: 66px;
    height: 46px;
    padding: 0;
    margin: 0;
    float: left;
    background: url("assets/btn-submitHover.svg") no-repeat;
    display: inline-block;
}


.store {
    height: 168px;
    width: 483px;
    margin-top: 120px;
    margin-left: 399px;
    float: left;
}

.button-block {
    height: 50px;
    padding-left: 38px;
}

.store-text {
    height: 70px;
}

.store-text-logo {
    height: 48px;
}

.apple-store {
    width: 241px;
    height: 50px;
    float: left;
}

.play-store {
    width: 233px;
    height: 50px;
    float: left;
}

.btn-store {
    outline: none;
    width: 188px;
    height: 50px;
    background: #00AFDB;
}

.apple-ic {
    width: 60px;
    height: 50px;
    background: url("assets/apple-icon.png");
    float: left;
}

.apple-text {
    width: 128px;
    height: 50px;
    float: left;
}

.nav-items-footer {
    width: 778px;
    height: 45px;
    float: left;
    margin-top: 60px;
}

.main-logo {
    width: 44px;
    height: 44px;
    background: url("assets/logo.svg");
    float: left;
    margin-top: 60px;
}

.copyright {
    width: 778px;
    height: 45px;
    float: left;
    margin-top: 60px;
}

.btn-main:hover {
    background: #009CC2;
    color: #ffffff;
}

.rectangle {
    width: 170px;
    height: 20px;
    float: right;
    margin-top: 13px;
    margin-right: 160px;
}

.nav-rectangle {
    width: 236px;
    height: 20px;
    float: left;
    margin-left: 160px;
    margin-top: 13px;
    text-decoration: none;
}

.credits {
    width: 45px;
    height: 20px;
    float: left;
}

.divider {
    width: 40px;
    height: 20px;
    float: left;
}

.privacy {
    width: 46px;
    height: 20px;
    float: left;
}

.teams {
    width: 65px;
    height: 20px;
    float: left;
}

.divider-line {
    width: 8px;
    height: 1px;
    background: #4E4E4E;
    transform: rotate(-90deg);
    margin-left: 16px;
    margin-top: 9px;
}

.link-nav {
    color: #FFFFFF;
    text-decoration: none;
    opacity: 0.8;
}

.left-menu {
    width: 778px;
    height: 44px;
    float: left;
}

.right-menu {
    width: 778px;
    height: 44px;
    float: left;
}

.menu {
    margin-top: 25px;
}

.inner-menu-left {
    width: 276px;
    height: 44px;
    float: right;
}

.inner-menu-right {
    width: 262px;
    height: 44px;
    float: left;
}

.projects {
    width: 52px;
    height: 20px;
    float: left;
    padding-top: 13px;
    margin-left: 101px;
}

.faq {
    width: 26px;
    height: 20px;
    float: left;
    padding-top: 13px;
    margin-left: 83px;
}

.about {
    width: 95px;
    height: 44px;
    float: left;
    padding-top: 13px;
}

.syllabus {
    width: 181px;
    height: 44px;
    float: left;
    padding-top: 13px;
    padding-left: 28px;
}

.ab {
    opacity: 1.0
}

.underline {
    width: 38px;
    height: 0px;
    border-top: 1px solid #FFFFFF;
    border-bottom: 0;
}

.p18-text {
    width: 520px;
    height: 50px;
    padding-top: 19px;
    padding-left: 70px;
}

.p18-text p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}

.ontitle {
    margin-top: 0;
    margin-left: 273px;
}

.socials-block {
    width: 170px;
    height: 20px;
    margin-left: 280px;
    text-decoration: none;
}

.decor {
    text-decoration: none;
}

.for-hover:hover {
    background: coral;
    border-radius: 50%;
}
